@page "/FinderDialog1"
@inherits XSListPage<IFinderData>
@*
@using BlazorPWA.Shared.Models
@using BlazorPWA.Shared.Dtos
@using BlazorPWA.Shared.Data
@using BlazorPWATest.Domain.Entities*@
@using MudBlazor.XS.Common
@using XpertStudio.Common.Data

@if (Header != null)
{
    <h1>@Header</h1>
    <br />
}
@if (Loaded)
{
    @if (FinderPage != null && FinderUrl != null)
    {        
        if (IsCustomFinder)
        {
            if (CustomFinderParameters != null)
            {
                CustomFinderParameters.IsCustomFinder = IsCustomFinder;
                <div>
                    @FinderComponentRenderer(FinderUrl)
                </div>
            }
        }
        else
        {
            <div>
                @FinderComponentRenderer(FinderUrl)
            </div>
        }        
    }
    else
    {
        FinderPage = typeof(XSCustomFinderViewer1);
        FinderUrl = "/XSFinderViewer1";
        CustomFinderParameters = new XSCustomFinderParameters();
        if (DataSource != null)
        {
            CustomFinderParameters.dt = DataSource;
        }
        else if (GetPaginatedDataAsync != null)
        {
            CustomFinderParameters.GetPaginatedDataMethod = GetPaginatedDataAsync;
        }
        else if (Items != null)
        {
            CustomFinderParameters.Items = Items;
        }
        CustomFinderParameters.IsCustomFinder = IsCustomFinder;
        <div>
            @FinderComponentRenderer(FinderUrl)
        </div>

        @* @if (!Loaded)
    {
        <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
    }
    else
    {
        <MudTable ServerData="@(new Func<TableState, Task<TableData<IFinderData>>>(ServerReload))"
                  Dense="true" Hover="true" @ref="mTable" SelectOnRowClick="true">
            <ToolBarContent>
                <MudSpacer />
                <MudTextField T="string" ValueChanged="@(s => OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start"
                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt - 0"></MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh><MudTableSortLabel SortLabel="Code" T="IFinderData">Code</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="Name" T="IFinderData">Name</MudTableSortLabel></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd @ondblclick="@(() => OnFinderDataChanged(@context))" DataLabel="Code">@context.Code</MudTd>
                    <MudTd @ondblclick="@(() => OnFinderDataChanged(@context))" DataLabel="Name">@context.Name</MudTd>
                </RowTemplate>
                <NoRecordsContent>
                    <MudText>No matching records found</MudText>
                </NoRecordsContent>
                <LoadingContent>
                    <MudText>Loading...</MudText>
                </LoadingContent>
            </MudTable>
    } *@
    }
}

@* <div class="dialog-actions">
    @if (IsMultiSelectFinder)
    {
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => OnOKClick())">OK</MudButton>
    }
</div>
 *@
@code {
    //IFinderData selectedRow;

    async Task OnOKClick()
    {
        await Task.Run(() =>
        {
            if (IsMultiSelectFinder == false)
            {
                SelectedData = this.SelectedFinderData;
                HidePage = true;
                SelectedDataChanged(SelectedData);
            }
            else
            {
                //SelectedItems = this.SelectedItems;
                HidePage = true;
                OnSelectedRowsChanged?.Invoke(this.SelectedItems);
            }
        });
    }

    async Task OnCancelClick()
    {
        await Task.Run(() =>
        {
            HidePage = true;

        });
    }
}

<style>
    .dialog-actions {
        display: flex;
        justify-content: center;
        position: center;
        text-align: center;
    }
</style>