@inherits BlazoredTextEditor
@* <h3>XSTextEditorLocal</h3> *@
<BlazoredTextEditor EditorContent="@EditorContent"
                    ToolbarContent="@ToolbarContent"
                    ReadOnly="@ReadOnly"
                    Placeholder="@Placeholder"
                    Theme="@Theme"
                    Formats="@Formats"
                    DebugLevel="@DebugLevel"
                    EditorCssClass="@EditorCssClass"
                    EditorCssStyle="@EditorCssStyle"
                    ToolbarCSSClass="@ToolbarCSSClass"
                    ToolbarCssStyle="@ToolbarCssStyle"
                    BottomToolbar="@BottomToolbar" />
@code {
    
}
